<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RequiredTrump</key>
		<string></string>
		<key>AdditionalTrump</key>
		<integer>4</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9A</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>A</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>X</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>1</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>1</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9X</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9K</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JKQ</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>1</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JA</string>
		<key>AdditionalTrump</key>
		<integer>1</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JX</string>
		<key>AdditionalTrump</key>
		<integer>1</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>AKQ</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J</string>
		<key>AdditionalTrump</key>
		<integer>2</integer>
		<key>RequiredPrimaryOutside</key>
		<string>A</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J</string>
		<key>AdditionalTrump</key>
		<integer>2</integer>
		<key>RequiredPrimaryOutside</key>
		<string>X</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>1</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>9KQ</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JA</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>9A</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>A</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string>A</string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>9A</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>AX</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>9</string>
		<key>AdditionalTrump</key>
		<integer>1</integer>
		<key>RequiredPrimaryOutside</key>
		<string>A</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string>A</string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>9AX</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JK</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>A</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>JK</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string>X</string>
		<key>AdditionalPrimaryOutside</key>
		<integer>1</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>KQX</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>RequiredTrump</key>
		<string>J9</string>
		<key>AdditionalTrump</key>
		<integer>0</integer>
		<key>RequiredPrimaryOutside</key>
		<string></string>
		<key>AdditionalPrimaryOutside</key>
		<integer>0</integer>
		<key>RequiredSecondaryOutside</key>
		<string></string>
		<key>TotalOutsidePoints</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
